<!doctype html >
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->
<head>
    <!-- start:global -->
    <meta charset="utf-8">
    <!-- end:global -->

    <!-- start:page title -->
    <title>Crazyforus - The best of Wedding on the Web</title>
    <!-- end:page title -->
    
    <!-- start:meta info -->
		<meta name="keywords" content="Wedding, Wedding ideas, Wedding Vendors, Wedding Websites, Wedding Web Sites, Wedding Favors" />
		<meta name="description" content="An aggregation of the best of wedding articles around the web" />
    <meta name="author" content="crazyforus.com">
    <!-- end:meta info -->

    <!-- start:responsive web design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end:responsive web design -->
    
    <!-- start:web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,500italic,400italic,700,700italic%7CRoboto+Condensed:400,700%7CRoboto+Slab' rel='stylesheet' type='text/css'>
    <!-- end:web fonts -->

    <!-- start:stylesheets -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/css/weather-icons.min.css">
    <link rel="stylesheet" href="/static/assets/css/jquery.sidr.dark.css">
    <link rel="stylesheet" href="/static/assets/css/photobox.css">
    <link rel="stylesheet" href="/static/assets/css/datepicker.css">
    <link rel="stylesheet" href="/static/assets/css/wp_style.css">
    <link rel="stylesheet" href="/static/assets/css/colors.css">
    
    <!-- end:stylesheets -->

    <!--[if lte IE 8]>
    <script src="/static/assets/js/respond.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/static/assets/css/photobox.ie.css">
    <script src="/static/assets/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    
    <!-- start:page outer wrap -->
    <div id="page-outer-wrap">
        <!-- start:page inner wrap -->
        <div id="page-inner-wrap">        
            
            <!-- start:page header mobile -->
            <header id="page-header-mobile" class="visible-xs">
                
                <!-- start:sidr -->
                <div id="sidr">
                    <form id="search-form-mobile">
                        <input type="text" name="qsearch" placeholder="Search Crazyforus" />
                    </form>
                    <ul>
                        <li class="cat-news">
                            <a class="more" href="#"><i class="fa fa-angle-down"></i></a>
														<a href="/p=15709">Dresses</a>
                            <ul class="subnav-menu">
                                <li><a href="#">Rings</a></li>
                                <li><a href="#">Shoes</a></li>
                                <li><a href="#">Elections</a></li>
                                <li><a href="#">Opinions</a></li>
                                <li><a href="#">Lorem ipsum</a></li>
                                <li><a href="#">Dolor sit amet</a></li>
                                <li><a href="#">Photo galleries</a></li>
                            </ul>               
                        </li>
                        <li class="cat-sports">
                            <a class="more" href="#"><i class="fa fa-angle-down"></i></a>
                            <a href="category-1.html">Sports</a>
                            <ul>
                                <li><a href="#">Football</a></li>
                                <li><a href="#">Pro Basketball</a></li>
                                <li><a href="#">College Basketball</a></li>
                                <li><a href="#">Hockey</a></li>
                                <li><a href="#">Baseball</a></li>
                                <li><a href="#">Soccer</a></li>
                                <li><a href="#">Photo galleries</a></li>
                            </ul>
                        </li>
                        <li class="cat-lifestyle">
                            <a class="more" href="#"><i class="fa fa-angle-down"></i></a>
                            <a href="#">Lifestyle</a>
                            <ul>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Beauty</a></li>
                                <li><a href="#">Health</a></li>
                                <li><a href="#">Parenting</a></li>
                                <li><a href="#">Home & garden</a></li>
                            </ul>     
                        </li>
                        <li class="cat-showtime">
                            <a class="more" href="#"><i class="fa fa-angle-down"></i></a>
                            <a href="category-2.html">Showtime</a>
                            <ul>
                                <li><a href="#">Movies</a></li>
                                <li><a href="#">Music</a></li>
                                <li><a href="#">Television</a></li>
                                <li><a href="#">Gaming</a></li>
                                <li><a href="#">Lorem ipsum</a></li>
                                <li><a href="#">Dolor sit amet</a></li>
                                <li><a href="#">Photo galleries</a></li>
                            </ul> 
                        </li>
                        <li class="cat-tech">
                            <a class="more" href="#"><i class="fa fa-angle-down"></i></a>
                            <a href="#">Tech</a>
                            <ul>
                                <li><a href="#">Gadgets</a></li>
                                <li><a href="#">Mobile</a></li>
                                <li><a href="#">Internet</a></li>
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Technocast</a></li>
                            </ul> 
                        </li>
                        <li class="cat-business">
                            <a class="more" href="#"><i class="fa fa-angle-down"></i></a>
                            <a href="#">Business</a>
                            <ul>
                                <li><a href="#">Investments</a></li>
                                <li><a href="#">Loans & guarantees</a></li>
                                <li><a href="#">Human resources</a></li>
                                <li><a href="#">Culture & media</a></li>
                                <li><a href="#">Market rules</a></li>
                            </ul>    
                        </li>
                        <li class="cat-extra">
                            <a class="more" href="#"><i class="fa fa-angle-down"></i></a>
                            <a href="#">Extra +</a>
                            <ul>
                                <li><a href="archive.html">Archive page</a></li>
                                <li><a href="author.html">Author page</a></li>
                                <li><a href="contact.html">Contact page</a></li>
                                <li>
                                    <a href="#">Blog styles</a>
                                    <ul>
                                        <li><a href="category-1.html">Style one</a></li>
                                        <li><a href="category-2.html">Style two</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Single post styles</a>
                                    <ul>
                                        <li><a href="article-1.html">Single post default</a></li>                                                    
                                        <li><a href="article-2.html">Single post with photos</a></li>
                                        <li><a href="article-3.html">Single post with review</a></li>
                                        <li><a href="article-4.html">Single post with audio</a></li>
                                        <li><a href="article-full-1.html">Full width style one</a></li>
                                        <li><a href="article-full-2.html">Full width style two</a></li>
                                        <li><a href="article-cover-1.html">Single post with cover photo</a></li>
                                        <li><a href="article-cover-2.html">Single post with cover video</a></li>
                                    </ul>    
                                </li>
                                <li>
                                    <a href="#">Video & photo</a>
                                    <ul>
                                        <li><a href="video.html">Video page</a></li>
                                        <li><a href="video-full.html">Video page - full width</a></li>
                                        <li><a href="gallery.html">Gallery page</a></li>
                                        <li><a href="gallery-full.html">Gallery page - full width</a></li>
                                    </ul>    
                                </li>                   
                            </ul>            
                        </li>
                    </ul>
                    
                </div>
                <!-- end:sidr -->
                
                <!-- start:row -->
                <div class="row">
                    
                    <!-- start:col -->
                    <div class="col-xs-6">
                        <!-- start:logo -->
                        <h1><a href="#"><img src="/static/images/logo-wt-mobile.png" alt="Crazyforus Logo" /></a></h1>
                        <!-- end:logo -->
                    </div>
                    <!-- end:col -->
                    
                    <!-- start:col -->
                    <div class="col-xs-6 text-right">
                        <a id="nav-expander" href=""><span class="glyphicon glyphicon-th"></span></a>
                    </div>
                    <!-- end:col -->
                    
                </div>
                <!-- end:row -->
                
            </header>
            <!-- end:page header mobile -->
            
            <!-- start:page header -->
            <header id="page-header" class="hidden-xs">
                
                <!-- start:header-branding -->
                <div id="header-branding">
                
                    <!-- start:container -->
                    <div class="container">
                        
                        <!-- start:row -->
                        <div class="row">
                        
                            <!-- start:col -->
                            <div class="col-sm-6 col-md-4">
                                <!-- start:logo -->
                                <h1><a href="/"><img src="/static/images/logo-wt.png" alt="Crazyforus Logo" /></a></h1>
                                <!-- end:logo -->
                            </div>
                            <!-- end:col -->
                            
                            <!-- start:col -->
                            <div class="visible-md visible-lg col-md-4 text-right">
                                
                            </div>
                            <!-- end:col -->
                        
                        </div>
                        <!-- end:row -->
    
                    </div>
                    <!-- end:container -->
                    
                 </div>
                <!-- end:header-branding -->
                
                <!-- start:header-navigation -->
                <div id="header-navigation">
                
                    <!-- start:container -->
                    <div class="container">
                        
                        <!-- start:menu -->
                        <nav id="menu">
                            <ul class="nav clearfix">
                                <li class="home"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                                <li class="cat-news">
																		<a href="/p=15709">Dresses</a>
                                </li>
                                <li class="cat-sports">
																		<a href="/?p=14670">Rings</a>
                                </li>
                                <li class="cat-lifestyle">
																		<a href="/?p=16702">Celebrity</a>
                                </li>
                                <li class="cat-business">
                                    <a href="#">Contact us</a>
                                </li>

																<!--
                                <li class="cat-extra">
                                    <a href="#">Will Delete</a>
                                    <div class="dropnav-container">
                                        <ul class="dropnav-menu">
                                            <li><a href="archive.html">Archive page</a></li>
                                            <li><a href="author.html">Author page</a></li>
                                            <li><a href="contact.html">Contact page</a></li>
                                            <li>
                                                <a href="#">Blog styles</a>
                                                <ul>
                                                    <li><a href="category-1.html">Style one</a></li>
                                                    <li><a href="category-2.html">Style two</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Single post styles</a>
                                                <ul>
                                                    <li><a href="article-1.html">Single post default</a></li>                                                    
                                                    <li><a href="article-2.html">Single post with photos</a></li>
                                                    <li><a href="article-3.html">Single post with review</a></li>
                                                    <li><a href="article-4.html">Single post with audio</a></li>
                                                    <li><a href="article-full-1.html">Full width style one</a></li>
                                                    <li><a href="article-full-2.html">Full width style two</a></li>
                                                    <li><a href="article-cover-1.html">Single post with cover photo</a></li>
                                                    <li><a href="article-cover-2.html">Single post with cover video</a></li>
                                                </ul>    
                                            </li>
                                            <li>
                                                <a href="#">Video & photo</a>
                                                <ul>
                                                    <li><a href="video.html">Video page</a></li>
                                                    <li><a href="video-full.html">Video page - full width</a></li>
                                                    <li><a href="gallery.html">Gallery page</a></li>
                                                    <li><a href="gallery-full.html">Gallery page - full width</a></li>
                                                </ul>    
                                            </li>     
                                        </ul>                                           
                                    </div>
                                </li>
																-->

																<li class="options">
																	<form id="search-form" method="POST" action="/search/"> <input type="text" name="search_term" placeholder="Search CrazyForUs" /> {% csrf_token %}<button><span class="glyphicon glyphicon-search"></span></button> </form>
																	<a href="http://www.twitter.com/crazyforus"><i class="fa fa-twitter fa-lg"style="font-size: 1.9em"></i></a>
																	<a href="http://www.facebook.com/crazyforus"><i class="fa fa-facebook-square fa-lg"style="font-size: 1.9em"></i></a>
																	<a href="http://www.pinterest.com/crazyforus"><i class="fa fa-pinterest-square fa-lg"style="font-size: 1.9em"></i></a>
																	<!--
																	<a href="#"><span class="glyphicon glyphicon-asterisk"></span> Sign in</a> | <a href="#"><span class="glyphicon glyphicon-pencil"></span> Register</a>
																	-->
																</li>

                            </ul>                            
                        </nav>
                        <!-- end:menu -->
                        
                    </div>
                    <!-- end:container -->
                    
                </div>
                <!-- end:header-navigation -->                
  
            </header>
            <!-- end:page header -->

            <!-- start:page slider -->
            <div id="page-slider" class="clearfix" style="margin-top: 15px;">
                
                <!-- start:container -->
                <div class="container">
                    
                        <!-- start:row -->
                        <div class="row">
                            
                            <!-- start:col -->
                            <div class="col-sm-6">
                                
                                <article class="linkbox large cat-sports">
																	<a href="/articles/{{ post_list.0.slug }}">
																		<div class="image_wrap_featured">
																			<img src="{{ post_list.0.featured_image }}" width="570" height="452" alt="{{ post_list.0.tags }}" class="img-responsive" />
																		</div>
                                        <div class="overlay">
                                        </div>
                                    </a>
																		<a href="/category/{{ post_list.0.categories.0 }}" class="theme">
																			{{ post_list.0.categories.0|safe }}
                                    </a>
                                </article>
																					<h2>{{ post_list.0.title|safe }}</h2>
																					<p>{{ post_list.0.post_content|striptags }}...</p>
    
                            </div>
                            <!-- end:col -->
                            
                            <!-- start:col -->
                            <div class="col-sm-4">
                                
                                <article class="linkbox cat-sports">
																<a href="/articles/{{ post_list.1.slug }}">
																	<div class="image_wrap_featured">
																		<img src="{{ post_list.1.featured_image }}" width="560" height="452" alt="{{ post_list.1.title }}" class="img-responsive" />
																	</div>
                                        <div class="overlay">
                                        </div>
                                    </a>
																		<a href="/category/{{ post_list.1.categories.0 }}" class="theme">
																				{{ post_list.1.categories.0 }}
                                    </a>
                                </article>
																						<h3>{{ post_list.1.title|safe }}</h3>
																						<p>{{ post_list.1.post_content|striptags }}...</p>
    
                            </div>
                            <!-- end:col -->
														<div class="col-sm-2">
															<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
															<!-- Homepage #4 - with custom channel -->
															<ins class="adsbygoogle"
																     style="display:inline-block;width:300px;height:250px"
																		      data-ad-client="ca-pub-1786435203633874"
																					     data-ad-slot="5870288421"></ins>
																						 <script>
																							 (adsbygoogle = window.adsbygoogle || []).push({});
																						 </script>
														</div>
                        </div>
                        <!-- end:row -->
                    
                    <!-- end:slider-nav -->
                </div>
                <!-- end:container -->
                
            </div>
            <!-- end:page slider -->    
            <!-- start:container -->
            <div class="container">
                
                <!-- start:page content -->
                <div id="page-content" class="clearfix">
                    
                    <!-- start:main -->
                    <div id="main">
                        
                        <!-- start:row -->
                        <div class="row">
                            
                            <!-- start:col -->
                            <div class="col-md-9 separator-right">
                                
                                <article class="linkbox large cat-news">
                                    <a href="/articles/{{ post_list.2.slug }}">
																			<div class="image-wrapper-390">
																				<img src="{{ post_list.2.featured_image }}" width="560" height="390" alt="Responsive Image" class="img-responsive" />
																			</div>
                                        <div class="overlay">
                                        </div>
                                    </a>
																		<a href="/category/{{ post_list.2.categories.0 }}" class="theme">
																				{{ post_list.2.categories.0 }}
                                    </a>
                                </article>
																						<h2>{{ post_list.2.title }}</h2>
                                
                                <!-- start:row -->
                                <div class="row bottom-margin">
                                    <!-- start:article.thumb -->
                                    <article class="thumb cat-sports">
                                        <!-- start:col -->
                                        <div class="col-sm-6">
                                            <div class="thumb-wrap relative">
																							<a href="/articles/{{ post_list.3.slug }}">
																								<div class="image-wrapper-160">
																									<img src="{{ post_list.3.featured_image }}" width="265" height="160" alt="Responsive Image" class="img-responsive" /></a>
																								</div>
																								<a href="/category/{{ post_list.3.categories.0 }}" class="theme">
																										{{ post_list.3.categories.0 }}
                                                </a>
                                            </div>
                                        </div>
                                        <!-- end:col -->
                                        <!-- start:col -->
                                        <div class="col-sm-6">
																						<h3><a href="/articles/{{ post_list.3.slug }}">{{ post_list.3.title }}</a></h3>
																						<span class="published">{{ post_list.3.article_date }} | 23 <a href="/articles/{{ post_list.3.slug }}">comments</a></span>
																						<span class="text">{{ post_list.3.post_content|striptags }}...</span>                                                                                    
                                        </div>
                                        <!-- end:col -->
                                    </article>
                                    <!-- end:article.thumb -->          
                                
                                </div>
                                <!-- end:row -->
                                
                                <!-- start:row -->
                                <div class="row">
                                    
                                    <!-- start:col -->
                                    <div class="col-sm-6">
                                        <!-- start:article.linkbox -->
                                        <article class="linkbox cat-sports">
																						<a href="/articles/{{ post_list.4.slug }}">
																							<div class="image-wrapper-160">
																								<img src="{{ post_list.4.featured_image }}" width="265" height="160" alt="Responsive Image" class="img-responsive" />
																							</div>
                                                <div class="overlay">
                                                </div>
                                            </a>
																					<a href="/category/{{ post_list.4.categories.0 }}" class="theme">
																								{{ post_list.4.categories.0 }}
                                            </a>
                                        </article>
                                        <!-- end:article.linkbox -->
																								<h3>{{ post_list.4.title|safe }}</h3>
                                    </div>
                                    <!-- end:col -->
                                    <!-- start:col -->
                                    <div class="col-sm-6">                                    
                                        <!-- start:article.linkbox -->
                                        <article class="linkbox cat-sports">
																				<a href="/articles/{{ post_list.5.slug }}">
																					<div class="image-wrapper-160">
																								<img src="{{ post_list.5.featured_image }}" width="265" height="160" alt="Responsive Image" class="img-responsive" />
																							</div>
                                                <div class="overlay">
                                                </div>
                                            </a>
																		<a href="/category/{{ post_list.5.categories.0 }}" class="theme">
																								{{ post_list.5.categories.0 }}
                                            </a>
                                        </article>
																								<h3>{{ post_list.5.title|safe }}</h3>
                                        <!-- end:article.linkbox -->                              
                                    </div>
                                    <!-- end:col -->
                                </div>
                                <!-- end:row -->
                                
                                <!-- start:row -->
                                <div class="row">
                                    <!-- start:col -->
                                    <div class="col-sm-6">
                                        <!-- start:article.linkbox -->
                                        <article class="linkbox cat-sports">
																						<a href="/articles/{{ post_list.6.slug }}">
																							<div class="image-wrapper-160">
																								<img src="{{ post_list.6.featured_image }}" width="265" height="160" alt="Responsive Image" class="img-responsive" />
																								</div.
                                                <div class="overlay">
                                                </div>
                                            </a>
																		<a href="/category/{{ post_list.6.categories.0 }}" class="theme">
                                                {{ post_list.6.categories.0 }}
                                            </a>
                                        </article>
																										<h3>{{ post_list.6.title|safe }}</h3>
                                        <!-- end:article.linkbox -->
                                    </div>
                                    <!-- end:col -->
                                    <!-- start:col -->
                                    <div class="col-sm-6">                                    
                                        <!-- start:article.linkbox -->
                                        <article class="linkbox cat-sports">
																						<a href="/articles/{{ post_list.7.slug }}">
																							<div class="image-wrapper-160">
																								<img src="{{ post_list.7.featured_image }}" width="265" height="160" alt="Responsive Image" class="img-responsive" />
																							</div>
                                                <div class="overlay">
                                                </div>
                                            </a>
																						<a href="/category/{{ post_list.7.categories.0 }}" class="theme">
                                                {{ post_list.7.categories.0 }}
                                            </a>
                                        </article>
																										<h3>{{ post_list.7.title }}</h3>
                                        <!-- end:article.linkbox -->                              
                                    </div>
                                    <!-- end:col -->
                                </div>
                                <!-- end:row -->
                                
                                <!-- start:row -->
                                <div class="row">
                                    <!-- start:col -->
                                    <div class="col-sm-6">
                                        <!-- start:article.linkbox -->
                                        <article class="linkbox cat-sports">
																						<a href="/articles/{{ post_list.8.slug }}">
																							<div class="image-wrapper-160">
																								<img src="{{ post_list.8.featured_image }}" width="265" height="160" alt="Responsive Image" class="img-responsive" />
																							</div>
                                                <div class="overlay">
                                                </div>
                                            </a>
																						<a href="/category/{{ post_list.8.categories.0 }}" class="theme">
																								{{ post_list.8.categories.0 }}
                                            </a>
                                        </article>
																										<h3>{{ post_list.8.title }}</h3>
                                        <!-- end:article.linkbox -->
                                    </div>
                                    <!-- end:col -->
                                    <!-- start:col -->
                                    <div class="col-sm-6">                                    
                                        <!-- start:article.linkbox -->
                                        <article class="linkbox cat-sports">
																						<a href="/articles/{{ post_list.9.slug }}">
																							<div class="image-wrapper-160">
																								<img src="{{ post_list.9.featured_image }}" width="265" height="160" alt="Responsive Image" class="img-responsive" />
																							</div>
                                                <div class="overlay">
                                                </div>
                                            </a>
																						<a href="/category/{{ post_list.9.categories.0 }}" class="theme">
																								{{ post_list.9.categories.0 }}
                                            </a>
                                        </article>
																										<h3>{{ post_list.9.news_info.title }}</h3>
                                        <!-- end:article.linkbox -->                              
                                    </div>
                                    <!-- end:col -->
                                </div>
                                <!-- end:row -->

																<!-- start:videos -->
                                <section class="section-full cat-videos no-padding">
                                    
                                    <!-- start:row -->
                                    <div class="row">
                                        
                                        <!-- start:col -->
                                        <div class="col-sm-8">
                                            
																					<article class="linkbox cat-showtime">
																							<a href="/articles/post_list.10.slug }}">
																								<div class="image-wrapper-301">
																									<img src="{{ post_list.10.featured_image }}" width="334" height="301" alt="Responsive image" class="img-responsive" />
																								</div>
                                                    <div class="overlay">
                                                    </div>
                                                </a>
																						<a href="/category/{{ post_list.10.categories.0 }}" class="theme">
																										{{ post_list.10.categories.0 }}
                                                </a>
                                            </article>
																												<h2>{{ post_list.10.title }}
                
                                        </div>
                                        <!-- end:col -->
                                        
                                        <!-- start:col -->
                                        <div class="col-sm-4">
                                            
                                            <article class="linkbox cat-showtime">
																								<a href="/articles/{{ post_list.11.slug }}">
																									<div class="image-wrapper-274">
																										<img src="{{ post_list.11.featured_image }}" width="274" height="150" alt="Responsive image" class="img-responsive" />
																									</div>
                                                    <div class="overlay">
                                                    </div>
                                                </a>
																						<a href="/category/{{ post_list.11.categories.0 }}" class="theme">
																										{{ post_list.11.categories.0 }}
                                                </a>
                                            </article>
																												<h4>{{ post_list.11.title|safe }}</h4>
                                            
                                            <article class="linkbox cat-showtime">
																								<a href="/articles/{{ post_list.12.slug }}">
																									<div class="image-wrapper-274">
																										<img src="{{ post_list.12.featured_image }}" width="274" height="150" alt="Responsive image" class="img-responsive" />
																									</div>
                                                    <div class="overlay">
                                                    </div>
                                                </a>
																						<a href="/category/{{ post_list.12.categories.0 }}" class="theme">
                                                <a href="#" class="theme">
																										{{ post_list.12.categories.0 }}
                                                </a>
                                            </article>
																												<h4>{{ post_list.12.title|safe }}</h4>
                
                                        </div>
                                        <!-- end:col -->
                
                                    </div>
                                    <!-- end:row -->
                                    
                                </section>
                                <!-- end:videos -->                                
                                
                            </div>
                            <!-- end:col -->
                            
                            <!-- start:col -->
                            <div class="col-md-3">
                                
                                                                <!-- start:latest-news -->
                                <section class="section-news news-layout">
                                    <!-- start:header -->
                                    <header>
                                        <h2><a href="#">Photo Ideas</a></h2>
                                        <span class="borderline"></span>
                                    </header>
                                    <!-- end:header -->
                                    
                                    <!-- start:row -->
                                    <div class="row">
																			{% for article in photo_ideas %}
                                        <!-- start:col -->
                                        <div class="col-xs-4 col-sm-12">
                                            <!-- start:article -->
                                            <article>                                        
																							<div class="image-wrapper-case-160">
																								<div class="image-wrapper-100">
																									<a href="/articles/{{ article.slug }}"><img src="{{ article.featured_image }}" alt="" /></a> 
																								</div>
																							</div>
																								<h3><a href="/articles/{{ article.slug }}">{{ article.title }}</a></h3>
																								<span class="text">{{ article.post_content|truncatewords_html:10 }}</span>                                                                                    
																								<span class="published">{{ article.post_date }}</span>
                                            </article>
                                            <!-- end:article -->
                                        </div>
                                        <!-- end:col -->
																			{% endfor %}
                                    </div>
                                    <!-- end:row -->
                                </section>
                                <!-- end:latest-news -->                                
																<!--
                                <div class="ad">
                                    <a href=""><img src="/static/images/dummy/banner_160x600.png" width="160" height="600" alt="" /></a>
                                </div>
																-->
                                
                                                                <!-- start:latest-news -->
                                <section class="news-layout">
                                    <!-- start:header -->
                                    <header>
                                        <h2>Centerpiecies</h2>
                                        <span class="borderline"></span>
                                    </header>
                                    <!-- end:header -->
                                    
                                    <!-- start:row -->
                                    <div class="row">
																			{% for article in centerpieces %}
                                        <!-- start:col -->
                                        <div class="col-xs-4 col-sm-12">
                                            <!-- start:article -->
                                            <article>                                        
																							<div class="image-wrapper-case-160">
																								<div class="image-wrapper-100">
																									<a href="/articles/{{ article.slug }}"><img src="{{ article.featured_image }}" alt="" /></a> 
																								</div>
																							</div>
																								<h3><a href="/articles/{{ article.slug }}">{{ article.title }}</a></h3>
																								<span class="text">{{ article.post_content|truncatewords_html:10 }}...</span>                                                                                    
																								<span class="published">{{ article.post_date }}</span>
                                            </article>
                                            <!-- end:article -->
                                        </div>
                                        <!-- end:col -->
																			{% endfor %}
                                        

                                    </div>
                                    <!-- end:row -->
                                </section>
                                <!-- end:latest-news -->                                
                            </div>
                            <!-- end:col -->
                            
                        </div>
                        <!-- end:row -->
        
                        
                    </div>
                    <!-- end:main -->
                    
                                        <!-- start:sidebar -->
                    <div id="sidebar">
                        
                        <!-- start:advertising -->
                        <div class="ad">
													<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
													<!-- New Home Page #3 -->
													<ins class="adsbygoogle"
														     style="display:inline-block;width:300px;height:250px"
																      data-ad-client="ca-pub-1786435203633874"
																			     data-ad-slot="7358679629"></ins>
																				 <script>
																					 (adsbygoogle = window.adsbygoogle || []).push({});
																				 </script>
                        </div>
                        <!-- end:advertising -->

                        <!-- start:advertising -->
                        <div class="ad ad-separator">
													<ins class="adsbygoogle"
														     style="display:inline-block;width:300px;height:250px"
																      data-ad-client="ca-pub-1786435203633874"
																			     data-ad-slot="7358679629"></ins>
																				 <script>
																					 (adsbygoogle = window.adsbygoogle || []).push({});
																				 </script>
                        </div>
                        <!-- end:advertising -->

                        <!-- start:advertising -->
												<div class="ad">
													<!-- After Six Wedding Dresses   Banner ID 351807  250x250 (to replace the post on right) -->
													<a target="_blank" href="http://www.shareasale.com/r.cfm?b=351807&amp;u=471322&amp;m=33226&amp;urllink=&amp;afftrack="><img src="http://static.shareasale.com/image/33226/image005_00.jpg" border="0" /></a> 
												</div>
												<div class="ad">
													<!-- destination & informal bridal styles   Banner ID 478210   300x250 -->
													<a target="_blank" href="http://www.shareasale.com/r.cfm?b=478210&amp;u=471322&amp;m=33226&amp;urllink=&amp;afftrack="><img src="http://static.shareasale.com/image/33226/bridal_banners_v3.jpg" border="0" alt="wedding dress, gowns, dessy, bride" /></a>
												</div>
												<div class="ad">
												<!-- Holiday Card Luxe    tiny prints special promotion -->
													<a target="_blank" href="http://www.shareasale.com/r.cfm?b=140728&u=471322&m=12808&urllink=&afftrack="><img src="http://www.shareasale.com/image/12808/300x250Holiday_5Percent1.gif" border="0"></a>
												</div>
                        <!-- end:advertising --> 
                        
                    </div>
                    <!-- end:sidebar -->                    
                </div>
                <!-- end:page content -->
            
            </div>
            <!-- end:container -->
    

            <!-- footer:page footer -->
            <footer id="page-footer">
                
                <!-- start:container -->
                <div class="container">
                
                    <nav id="foot-menu" class="hidden-xs">
                        <ul class="clearfix">
                            <li class="home current"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
														<li class="cat-news"><a href="/p=15709">Dresses</a></li>
                            <li class="cat-sports"><a href="/p=14670">Rings</a></li>
                            <li class="cat-lifestyle"><a href="/p=16702">Celebrity</a></li>
                            <li class="cat-showtime"><a href="/contact_us">Contact Us</a></li>
                            <li class="options"><a href="#" class="scrollToTop">Back to top <span class="glyphicon glyphicon-chevron-up"></span></a></li>
                        </ul>                            
                    </nav>
                    
                    <!-- start:row -->
                    <div class="about row">
                    
                        <!-- start:col -->
                        <div class="col-sm-12 col-md-3">
                            <h3><a href="/"><img src="/static/images/logo.png" alt="Logo Crazyforus" /></a></h3>
                        </div>
                        <!-- end:col -->
                        
                        <!-- start:col -->
                        <div class="col-sm-6 col-md-5">
                            <h4>Wedding Planning, Ideas And Trends From Around The Web.</h4>
														<p>Our mission is to stay abreast of new ideas and trends in wedding planning and to aggregate the best articles on wedding planning trends and ideas from around the web.</p>
														<a href="http://www.twitter.com/crazyforus" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
														<a href="https://www.facebook.com/crazyforus" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a>
														<a href="http://www.pinterest.com/crazyforus" target="_blank"><i class="fa fa-pinterest-square fa-lg"></i></a>
														<!--
                            <a href="#"><i class="fa fa-google-plus-square fa-lg"></i></a>
                            <a href="#"><i class="fa fa-vimeo-square fa-lg"></i></a>
                            <a href="#"><i class="fa fa-youtube fa-lg"></i></a>
														-->
                        </div>
                        <!-- end:col -->
                        
                        <!-- start:col -->
                        <div class="col-sm-6 col-md-4">
													<!--
                            <h4>Vendor information</h4>
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Legal agreement</a></li>
                                <li><a href="#">Our staff</a></li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Terms of Service</a></li>
                                <li><a href="#">Become a member</a></li>
                                <li><a href="#">Press Releases</a></li>
                            </ul>
														-->
                        </div>
                        <!-- end:col -->

                    </div>
                    <!-- end:row -->
                    
                    <!-- start:row -->
                    <div class="copyright row">
                    
                        <!-- start:col -->
                        <div class="col-sm-6">
                            &copy; <a href="/">Crazyforus.com</a> 2015. All rights reserved.
                        </div>
                        <!-- end:col -->
                        
                        <!-- start:col -->
                        <div class="col-sm-6 text-right">
                             <a href="http://www.crazyforus.com">Crazyforus.com</a>.
                        </div>
                        <!-- end:col -->

                    </div>
                    <!-- end:row -->
                
                </div>
                <!-- end:container -->
        
            </footer>
            <!-- end:page footer -->
        
        </div>
        <!-- end:page inner wrap -->
    </div>
    <!-- end:page outer wrap -->
    
    
    <!-- start:scripts -->
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/bootstrap-datepicker.js"></script>
		<script type="text/javascript">
       $(window).bind('scroll', function() {
				 var navHeight = $( window ).height() - 70;
				 if ($(window).scrollTop() > navHeight) {
						 $('nav').addClass('fixed');
				   } else {
						 $('nav').removeClass('fixed');
				  }
				});
		</script>
    <script src="/static/assets/js/jquery.sidr.min.js"></script>
    <script src="/static/assets/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="/static/assets/js/jquery.touchSwipe.min.js"></script>
    <script src="/static/assets/js/jquery.photobox.js"></script>
    <script src="/static/assets/js/functions.js"></script>
    <!-- end:scripts -->
    
</body>
</html>
