{% extends "aggregator/base.html" %}


{% block hero %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">

        <h2>Free Wedding Websites!</h2>
      	<p>Build customized free wedding websites.  It's all free!  </p>
      </div>
{% endblock hero %}

{% block content_blocks %}
		<div class="row">
				<div class="span4">
						<h2>Style 1</h2>		
						<a href="/register/style1"><img src="/static/images/testing-register-image.jpg" /></a>
						<p>Choose a style that fits your rustic style</p>
				</div>	
				<div class="span4">
						<h2>Style 2</h2>		
						<img src="/static/images/testing-register-image.jpg" />
						<p>Choose a style that fits your rustic style</p>
				</div>	
				<div class="span4">
						<h2>Style 3</h2>		
						<img src="/static/images/testing-register-image.jpg" />
						<p>Choose a style that fits your rustic style</p>
				</div>	
		</div>	
		<div class="row">
				<div class="span4">
						<h2>Style 5</h2>		
						<img src="/static/images/testing-register-image.jpg" />
						<p>Choose a style that fits your rustic style</p>
				</div>	
				<div class="span4">
						<h2>Style 6</h2>		
						<img src="/static/images/testing-register-image.jpg" />
						<p>Choose a style that fits your rustic style</p>
				</div>	
				<div class="span4">
						<h2>Style 7</h2>		
						<img src="/static/images/testing-register-image.jpg" />
						<p>Choose a style that fits your rustic style</p>
				</div>	
		</div>	
{% endblock content_blocks %}
